{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Server=XXX.XXX.XXX.XXX;Port=3306;Database=Portfolio;Trusted_Connection=True;MultipleActiveResultSets=true"
  }
}
